<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    
    <!-- Font stuff -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:700,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/yxb5gyq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>